# ROOT
.env

# FRONTEND

# BACKEND
/backend/.env
/backend/.venv
/backend/notes.txt
/backend/src/__pycache__
/backend/src/routers/__pycache__
=======
sqltoolkit/__pycache__/__init__.cpython-311.pyc
sqltoolkit/__pycache__/connectors.cpython-311.pyc
sqltoolkit/__pycache__/dbutils.cpython-311.pyc
sqltoolkit/__pycache__/sample_class.cpython-311.pyc
