# ROOT
.env
.vscode
.pytest_cache
# FRONTEND
/frontend/react/node_modules
/frontend/react/.env
/frontend/streamlit/.env
/frontend/streamlit/.venv
/frontend/streamlit/bak
/frontend/streamlit/function/__pycache__
# FRONTEND RELATED

# BACKEND
/backend/.env
/backend/.venv
/backend/notes.txt
/backend/bak
/backend/app/bak
/backend/app/internal/__pycache__
/backend/app/__pycache__
/backend/app/internal/__pycache__
/backend/app/routers/__pycache__
/backend/app/routers/v1/__pycache__
# BACKEDN RELATED
/dev-mine.ipynb
.venv
=======
sqltoolkit/__pycache__
sqltoolkit/__pycache__/__init__.cpython-311.pyc
sqltoolkit/__pycache__/connectors.cpython-311.pyc
sqltoolkit/__pycache__/dbutils.cpython-311.pyc
sqltoolkit/__pycache__/sample_class.cpython-311.pyc
sqltoolkit/__pycache__/client.cpython-311.pyc
sqltoolkit/__pycache__/entities.cpython-311.pyc
sqltoolkit/__pycache__/indexer.cpython-311.pyc
sqltoolkit/__pycache__/sql_queries.cpython-311.pyc
test.ipynb
skagents.ipynb
evaluation/documentation/california_schools/california_schools.sqlite
evaluation/documentation/california_schools/california_schools.sqlite:Zone.Identifier
evaluation/documentation/california_schools/california_schools.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/california_schools/database_description/frpm.csv
evaluation/documentation/california_schools/database_description/frpm.csv:Zone.Identifier
evaluation/documentation/california_schools/database_description/frpm.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/california_schools/database_description/satscores.csv
evaluation/documentation/california_schools/database_description/satscores.csv:Zone.Identifier
evaluation/documentation/california_schools/database_description/satscores.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/california_schools/database_description/schools.csv
evaluation/documentation/california_schools/database_description/schools.csv:Zone.Identifier
evaluation/documentation/card_games/card_games.sqlite
evaluation/documentation/card_games/card_games.sqlite:Zone.Identifier
evaluation/documentation/card_games/card_games.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/card_games/database_description/cards.csv
evaluation/documentation/card_games/database_description/cards.csv:Zone.Identifier
evaluation/documentation/card_games/database_description/cards.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/card_games/database_description/foreign_data.csv
evaluation/documentation/card_games/database_description/foreign_data.csv:Zone.Identifier
evaluation/documentation/card_games/database_description/legalities.csv
evaluation/documentation/card_games/database_description/legalities.csv:Zone.Identifier
evaluation/documentation/card_games/database_description/legalities.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/card_games/database_description/rulings.csv
evaluation/documentation/card_games/database_description/rulings.csv:Zone.Identifier
evaluation/documentation/card_games/database_description/set_translations.csv
evaluation/documentation/card_games/database_description/set_translations.csv:Zone.Identifier
evaluation/documentation/card_games/database_description/sets.csv
evaluation/documentation/card_games/database_description/sets.csv:Zone.Identifier
evaluation/documentation/codebase_community/codebase_community.sqlite
evaluation/documentation/codebase_community/codebase_community.sqlite:Zone.Identifier
evaluation/documentation/codebase_community/codebase_community.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/codebase_community/database_description/badges.csv
evaluation/documentation/codebase_community/database_description/badges.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/comments.csv
evaluation/documentation/codebase_community/database_description/comments.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/comments.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/codebase_community/database_description/postHistory.csv
evaluation/documentation/codebase_community/database_description/postHistory.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/postLinks.csv
evaluation/documentation/codebase_community/database_description/postLinks.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/postLinks.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/codebase_community/database_description/posts.csv
evaluation/documentation/codebase_community/database_description/posts.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/tags.csv
evaluation/documentation/codebase_community/database_description/tags.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/tags.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/codebase_community/database_description/users.csv
evaluation/documentation/codebase_community/database_description/users.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/users.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/codebase_community/database_description/votes.csv
evaluation/documentation/codebase_community/database_description/votes.csv:Zone.Identifier
evaluation/documentation/codebase_community/database_description/votes.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/debit_card_specializing/debit_card_specializing.sqlite
evaluation/documentation/debit_card_specializing/debit_card_specializing.sqlite:Zone.Identifier
evaluation/documentation/debit_card_specializing/debit_card_specializing.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/customers.csv
evaluation/documentation/debit_card_specializing/database_description/customers.csv:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/customers.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/gasstations.csv
evaluation/documentation/debit_card_specializing/database_description/gasstations.csv:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/products.csv
evaluation/documentation/debit_card_specializing/database_description/products.csv:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/products.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/transactions_1k.csv
evaluation/documentation/debit_card_specializing/database_description/transactions_1k.csv:Zone.Identifier
evaluation/documentation/debit_card_specializing/database_description/yearmonth.csv
evaluation/documentation/debit_card_specializing/database_description/yearmonth.csv:Zone.Identifier
evaluation/documentation/european_football_2/european_football_2.sqlite
evaluation/documentation/european_football_2/european_football_2.sqlite:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Country.csv
evaluation/documentation/european_football_2/database_description/Country.csv:Zone.Identifier
evaluation/documentation/european_football_2/database_description/League.csv
evaluation/documentation/european_football_2/database_description/League.csv:Zone.Identifier
evaluation/documentation/european_football_2/database_description/League.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Match.csv
evaluation/documentation/european_football_2/database_description/Match.csv:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Player_Attributes.csv
evaluation/documentation/european_football_2/database_description/Player_Attributes.csv:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Player.csv
evaluation/documentation/european_football_2/database_description/Player.csv:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Team_Attributes.csv
evaluation/documentation/european_football_2/database_description/Team_Attributes.csv:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Team_Attributes.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/european_football_2/database_description/Team.csv
evaluation/documentation/european_football_2/database_description/Team.csv:Zone.Identifier
evaluation/documentation/financial/financial.sqlite
evaluation/documentation/financial/financial.sqlite:Zone.Identifier
evaluation/documentation/financial/financial.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/financial/database_description/account.csv
evaluation/documentation/financial/database_description/account.csv:Zone.Identifier
evaluation/documentation/financial/database_description/account.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/financial/database_description/card.csv
evaluation/documentation/financial/database_description/card.csv:Zone.Identifier
evaluation/documentation/financial/database_description/card.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/financial/database_description/client.csv
evaluation/documentation/financial/database_description/client.csv:Zone.Identifier
evaluation/documentation/financial/database_description/client.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/financial/database_description/disp.csv
evaluation/documentation/financial/database_description/disp.csv:Zone.Identifier
evaluation/documentation/financial/database_description/district.csv
evaluation/documentation/financial/database_description/district.csv:Zone.Identifier
evaluation/documentation/financial/database_description/loan.csv
evaluation/documentation/financial/database_description/loan.csv:Zone.Identifier
evaluation/documentation/financial/database_description/loan.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/financial/database_description/order.csv
evaluation/documentation/financial/database_description/order.csv:Zone.Identifier
evaluation/documentation/financial/database_description/order.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/financial/database_description/trans.csv
evaluation/documentation/financial/database_description/trans.csv:Zone.Identifier
evaluation/documentation/financial/database_description/trans.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/formula_1.sqlite
evaluation/documentation/formula_1/formula_1.sqlite:Zone.Identifier
evaluation/documentation/formula_1/formula_1.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/circuits.csv
evaluation/documentation/formula_1/database_description/circuits.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/circuits.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/constructorResults.csv
evaluation/documentation/formula_1/database_description/constructorResults.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/constructors.csv
evaluation/documentation/formula_1/database_description/constructors.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/constructorStandings.csv
evaluation/documentation/formula_1/database_description/constructorStandings.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/constructorStandings.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/drivers.csv
evaluation/documentation/formula_1/database_description/drivers.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/drivers.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/driverStandings.csv
evaluation/documentation/formula_1/database_description/driverStandings.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/lapTimes.csv
evaluation/documentation/formula_1/database_description/lapTimes.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/lapTimes.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/pitStops.csv
evaluation/documentation/formula_1/database_description/pitStops.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/pitStops.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/qualifying.csv
evaluation/documentation/formula_1/database_description/qualifying.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/qualifying.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/races.csv
evaluation/documentation/formula_1/database_description/races.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/results.csv
evaluation/documentation/formula_1/database_description/results.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/seasons.csv
evaluation/documentation/formula_1/database_description/seasons.csv:Zone.Identifier
evaluation/documentation/formula_1/database_description/seasons.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/formula_1/database_description/status.csv
evaluation/documentation/formula_1/database_description/status.csv:Zone.Identifier
evaluation/documentation/student_club/student_club.sqlite
evaluation/documentation/student_club/student_club.sqlite:Zone.Identifier
evaluation/documentation/student_club/student_club.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/student_club/database_description/Attendance.csv
evaluation/documentation/student_club/database_description/Attendance.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Attendance.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/student_club/database_description/Budget.csv
evaluation/documentation/student_club/database_description/Budget.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Budget.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/student_club/database_description/Event.csv
evaluation/documentation/student_club/database_description/Event.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Expense.csv
evaluation/documentation/student_club/database_description/Expense.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Income.csv
evaluation/documentation/student_club/database_description/Income.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Major.csv
evaluation/documentation/student_club/database_description/Major.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Member.csv
evaluation/documentation/student_club/database_description/Member.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Member.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/student_club/database_description/Zip_Code.csv
evaluation/documentation/student_club/database_description/Zip_Code.csv:Zone.Identifier
evaluation/documentation/student_club/database_description/Zip_Code.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/superhero.sqlite
evaluation/documentation/superhero/superhero.sqlite:Zone.Identifier
evaluation/documentation/superhero/superhero.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/database_description/alignment.csv
evaluation/documentation/superhero/database_description/alignment.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/attribute.csv
evaluation/documentation/superhero/database_description/attribute.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/attribute.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/database_description/colour.csv
evaluation/documentation/superhero/database_description/colour.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/colour.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/database_description/gender.csv
evaluation/documentation/superhero/database_description/gender.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/gender.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/database_description/hero_attribute.csv
evaluation/documentation/superhero/database_description/hero_attribute.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/hero_power.csv
evaluation/documentation/superhero/database_description/hero_power.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/hero_power.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/database_description/publisher.csv
evaluation/documentation/superhero/database_description/publisher.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/race.csv
evaluation/documentation/superhero/database_description/race.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/superhero.csv
evaluation/documentation/superhero/database_description/superhero.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/superhero.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/superhero/database_description/superpower.csv
evaluation/documentation/superhero/database_description/superpower.csv:Zone.Identifier
evaluation/documentation/superhero/database_description/superpower.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/thrombosis_prediction/thrombosis_prediction.sqlite
evaluation/documentation/thrombosis_prediction/thrombosis_prediction.sqlite:Zone.Identifier
evaluation/documentation/thrombosis_prediction/thrombosis_prediction.sqlite:Zone.Identifier:Zone.Identifier
evaluation/documentation/thrombosis_prediction/database_description/Examination.csv
evaluation/documentation/thrombosis_prediction/database_description/Examination.csv:Zone.Identifier
evaluation/documentation/thrombosis_prediction/database_description/Examination.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/thrombosis_prediction/database_description/Laboratory.csv
evaluation/documentation/thrombosis_prediction/database_description/Laboratory.csv:Zone.Identifier
evaluation/documentation/thrombosis_prediction/database_description/Patient.csv
evaluation/documentation/thrombosis_prediction/database_description/Patient.csv:Zone.Identifier
evaluation/documentation/thrombosis_prediction/database_description/Patient.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/toxicology/toxicology.sqlite
evaluation/documentation/toxicology/toxicology.sqlite:Zone.Identifier
evaluation/documentation/toxicology/database_description/atom.csv
evaluation/documentation/toxicology/database_description/atom.csv:Zone.Identifier
evaluation/documentation/toxicology/database_description/bond.csv
evaluation/documentation/toxicology/database_description/bond.csv:Zone.Identifier
evaluation/documentation/toxicology/database_description/bond.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/toxicology/database_description/connected.csv
evaluation/documentation/toxicology/database_description/connected.csv:Zone.Identifier
evaluation/documentation/toxicology/database_description/connected.csv:Zone.Identifier:Zone.Identifier
evaluation/documentation/toxicology/database_description/molecule.csv
evaluation/documentation/toxicology/database_description/molecule.csv:Zone.Identifier
evaluation/documentation/toxicology/database_description/molecule.csv:Zone.Identifier:Zone.Identifier
app.py
evaluation/benchmark.ipynb
evaluation/mini_dev_postgresql_evaluated_20250124_225147_with_ground_truth_and_pred.csv
evaluation/mini_dev_postgresql_evaluated_20250124_225147_with_ground_truth.csv
evaluation/mini_dev_postgresql_evaluated_20250124_225147.csv
evaluation/mini_dev_postgresql_evaluated_final.csv
evaluation/mini_dev_postgresql_evaluated.csv
