# ROOT
.env

# FRONTEND

# BACKEND
/backend/.env
/backend/.venv
/backend/notes.txt
/backend/app/__pycache__
/backend/app/internal/__pycache__
/backend/app/routers/__pycache__
/backend/app/routers/v1/__pycache__
# BACKEDN RELATED
/dev-mine.ipynb
.venv
=======
sqltoolkit/__pycache__/__init__.cpython-311.pyc
sqltoolkit/__pycache__/connectors.cpython-311.pyc
sqltoolkit/__pycache__/dbutils.cpython-311.pyc
sqltoolkit/__pycache__/sample_class.cpython-311.pyc
sqltoolkit/__pycache__/client.cpython-311.pyc
sqltoolkit/__pycache__/entities.cpython-311.pyc
sqltoolkit/__pycache__/indexer.cpython-311.pyc
sqltoolkit/__pycache__/sql_queries.cpython-311.pyc
test.ipynb
